---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Sky Nav Cumulative Layout Shift and Progressive Enhancment demos"
>
	<header class="o-page__header u-pad-1 t-dark">
		<h1>Cumulative Layout Shift and Progress Enhancement can be friends</h1>
	</header>
	<main id="main" class="o-page__content">
		<div class="o-container o-container--pad">
			<div class="o-container__content o-rhythm">
				<p>
					A series of demos showing the "burger" menu pattern and how an
					excellent Cumulative Layout Score and Progressive Enhancement can play
					well together.
				</p>
				<p>
					Read Cloud Four's <a href="#todo">"TITLE" article</a> for demo details.
				</p>
				<h2>Demos</h2>
				<ul>
					<li>
						<a href="/synchronous-inline-script">
							Synchronous inline script demo
						</a>
					</li>
					<li>
						<a href="/target-pseudo-class">
							<code>:target</code> pseudo-class demo
						</a>
					</li>
				</ul>
			</div>
		</div>
	</main>
</Layout>

<style>
	/* :root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	} */
</style>
