---
import Demo from '../layouts/Demo.astro';
---

<Demo title="Layout shift demo">
	<h1>Layout shift demo</h1>
	<p>This demo should have a layout shift (poor CLS score)</p>
	<p>
		Read Cloud Four's <a href="#todo">"TITLE" article</a> for demo details.
	</p>
</Demo>
