---
import Demo from '../layouts/Demo.astro';
---

<Demo title="Synchronous inline script demo">
	<h1>Synchronous inline script demo</h1>
	<p>
		Read Cloud Four's <a href="#todo">"TITLE" article</a> for demo details.
	</p>
</Demo>
