---
import Demo from '../layouts/Demo.astro';
---

<Demo title=":target pseudo-class demo">
	<h1><code>:target</code> pseudo-class demo</h1>
	<p>
		Read Cloud Four's <a href="#todo">"TITLE" article</a> for demo details.
	</p>
</Demo>
